table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    
}
table{
    overflow-x:auto;
}

h1 {
    page-break-before: always;
}

ul.a {
    list-style-type: circle;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

p {
    font-size: 15px;
}

.overflowAuto{
    overflow-x: auto;
}

.navBar li {
    float: left;
}

.navBar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar li a:hover {
    background-color: #111;
}
.center {
    text-align: center;
}

.imageInTable {
    text-align: center;
    width: 64px;
    height: 64px;
}

body {
    background-repeat: no-repeat;
    background-size: auto auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}


@media print {
    .hidden-print {
      display: none !important;
    }
  }